.home {
  padding: 20px;
  margin-top: 5vh;
}

.home__message{
    font-weight: bold;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home__replyBtn {
  display: none;
}

.home__messageBtn {
  width: 5%;
  margin-left: 1%;
  border: tomato;
  background-color: tomato;
  border-radius: 12px;
}

.home__messageBtn:focus {
  outline: 0 !important;
}

.home__messageBtn:hover {
  background-color: salmon;
}

.home__replyInput {
  border-radius: 15px;
  border: none;
  padding: 8px;
  margin-bottom: 1%;
  margin-left: 1%;
  outline: none;
  width: 30%;
}

.home__messageInput {
  border-radius: 9px;
  border: none;
  padding: 10px;
  margin-top: 2%;
  width: 50%;
  outline: none;
}
